
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(55, 19, 51);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

nav ul{
    list-style: none;
    
}

.gameContainer{
 display: flex;
 justify-content: center;
 margin-top: 14px;
}
.container{
display: grid;
grid-template-columns: repeat(3,10vw);
grid-template-rows: repeat(3,10vw);

}
.box{
    border: 1px solid black;
   font-size: 10vw;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box:hover{
    background-color: rgb(225, 206, 243);
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}
.gameinfo{
    padding: 34px;

}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
#reset{
    margin:0 23px;
    padding: 6px 14px;
    background: rgb(183, 132, 183);
    border-radius: 6px;
    cursor: pointer;

}
@media screen and (max-width:800px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
}











